.highlight {
    font-weight: bold;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

h2 {
    color: #333;
    margin-bottom: 8px;
}

#box {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 900px;
    margin: 0 auto;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 4px 6px 15px rgba(0,0,0,0.1);
    padding:15px;
}